* {
    padding: 0; 
    margin: 0; 
    font-family: "Barlow Semi Condensed"; 
}

:root {
    font-size: 16px;
}

html, body {
    width: 100%; 
    height: 100%; 
}

.background-wrapper {
    position: fixed;
    width: 100%; 
    height: 100%;
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: scroll;
}

.scoreboard {
    color: white; 
    border: 1px solid white; 
    border-radius: 10px;
    width: min(100%, 40rem);
    height: 8rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem; 
    margin: 2rem; 
}

.game-title {
    width: fit-content;
}

.game-title>h2 {
    font-weight: 600;
    font-size: 2rem;
}

.score {
    background-color: white;
    border-radius: 5px;
    font-size: 1rem;
    color: hsl(229, 64%, 46%);
    width: fit-content; 
    padding: 1rem 2rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score>h3 {
    font-weight: 600;
}


.score-num {
    color: grey; 
    font-size: 3rem;
}

.game-choice {
    background-image: url(/images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: min(26rem, 100%); 
    height: 27rem;  
}


.choice {
    box-sizing: border-box;
    background-color: white;
    border-radius: 50%; 
    padding: 2rem; 
    cursor: pointer;
}

.paper {
    border: 12px solid hsl(230, 89%, 65%); 
    box-shadow: 0 5px hsl(230, 89%, 62%),
    inset 0 5px rgb(202, 202, 213);  
    position: relative; 
    transition: transform .2s; 
}

.paper:hover {
    transform: scale(1.5);
}

.scissors {
    border: 12px solid hsl(40, 84%, 53%);
    box-shadow: 0 5px hsl(39, 89%, 49%),
    inset 0 5px rgb(202, 202, 213);  
    position: relative; 
    right: -33%; 
    transition: transform .2s; 
}

.scissors:hover {
    transform: scale(1.5);
}

.rock {
    border: 12px solid hsl(349, 70%, 56%); 
    box-shadow: 0 5px hsl(349, 71%, 52%),
    inset 0 5px rgb(202, 202, 213);  
    position: relative; 
    bottom: -25%; 
    right: -33%;
    transition: transform .2s; 
}

.rock:hover {
    transform: scale(1.5);
}

.rules-btn {
    border: 1px solid white; 
    color: white; 
    border-radius: 5px;
    align-self: end;
    margin: 2rem; 
    padding: 0.5rem 1rem; 
    cursor: pointer;
    transition: transform .2s; 
}

.rules-btn:hover {
    transform: scale(1.5);
}

.modal-bg {
    position: absolute;
    z-index: 1;
    width: 100%; 
    height: 100%; 
    background-color: hsla(0, 0%, 0%, 0.6);
}

.modal {
    position: absolute; 
    z-index: 2; 
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-rules {
    z-index: 3;
    background-color: white;
    border-radius: 10px;
    padding: 5rem; 
}

.img-close {
    position: absolute;
    right: 20px;
    top: 25px; 
    z-index: 4; 
    cursor: pointer;
}

.hidden-bg {
    display: none; 
}

.hidden-modal {
    display: none; 
}

.attribution { 
    color: white; 
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}